<div class="item-detail-container p-4">
    <ng-container *ngIf="(working$ | async); else !!(product$ | async) ? content : empty">
        <ng-container *ngFor="let i of [1,2,3]">
            <div class="card-loader card-loader-item-{{ i }}"></div>
        </ng-container>
    </ng-container>
    <ng-template #content>
        <ng-container *ngIf="(product$ | async) as item">
            <div class="item-detail-container-column left">
                <figure class="item-img">
                    <img
                        [src]="item.picture"
                        class="product-item-img__image"
                        [alt]="item.title">
                </figure>
                <div class="short-description-btns mobile">
                    <ng-template [ngTemplateOutlet]="buttons"></ng-template>
                </div>
                <div class="specs">
                    <h3 class="specs-title">Descripción del producto</h3>
                    <p class="specs-content">{{ item.description }}</p>
                </div>
            </div>
            <div class="item-detail-container-column short-description">
                <div class="short-description-title">
                    <div class="secodary">
                        <span class="ui-pdp-subtitle">
                            {{ item.condition }}  |  {{ item.sold_quantity }} vendidos
                        </span>
                    </div>
                    <h3 class="principal">{{ item.title | titlecase }}</h3>
                </div>
                <div class="short-description-price">
                    <h1>
                        {{ item.price.amount | currency:item.price.amount.currency }}
                    </h1>
                </div>
                <div class="short-description-btns desktop">
                    <ng-template [ngTemplateOutlet]="buttons"></ng-template>
                </div>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #empty>Producto no encontrado</ng-template>
    <ng-template #buttons>
        <button
            class="ml-btn-primary mb-1"
            type="button">
            Comprar
        </button>
        <button
            class="ml-btn-secondary"
            type="button">
            Agregar al carrito
        </button>
    </ng-template>
</div>
